@config '../tailwind.config.ts';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #9ababa;
  --black-color: #040316;
  --white-color: #f6f9f9;
}
body {
  margin: 0;
}

/*HEADER*/
header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: var(--primary-color);
}
#logo img {
  width: 100%;
  height: 100%;
}

#navigationList {
  display: flex;
  list-style-type: none;
  margin: auto 1rem;
  padding: 0;
}
#navigationList li {
  margin-left: 20px;
}
#navigationList a {
  color: var(--white-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}
#navigationList a:hover {
  color: var(--black-color);
}

/*FOOTER*/
footer {
  display: flex;
  justify-content: start;
  background-color: var(--primary-color);
  color: var(--black-color);
}

#footer-contact {
  margin-left: 5rem;
}
#footer-location {
  margin-left: 15rem;
}
